<ion-header>
    <ion-toolbar>
        <ion-title>Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2>IME Ranking</h2>
    <h3>Fazer cadastro como professor</h3>
    <ion-item class="form-group">
        <ion-label>Usuario:</ion-label>
        <ion-input class="form-group-control" [(ngModel)]="username" required minlength="5" placeholder="Mínimo 5 caracteres"></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label>Senha:</ion-label>
        <ion-input type="password" [(ngModel)]="password" required placeholder="Mínimo 6 caracteres"></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label>Confirmar Senha:</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword" required></ion-input>
    </ion-item>
    <ion-button class="btn-submit" (click)="register()">Registrar</ion-button>
    <ion-button routerLink="/login">Voltar para o login</ion-button>
</ion-content>