<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2>IME Ranking</h2>
    <h3>Fazer login (para professores)</h3>
    <ion-item class="form-group">
        <ion-label>Username:</ion-label>
        <ion-input class="form-group-control" [(ngModel)]="username" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
        <ion-label>Senha:</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button class="btn-submit" (click)="login()">Login</ion-button>
    <p>Ainda não possui conta? Realizar <a routerLink="/register">Cadastro</a></p>
    <ion-button routerLink="/classificacao">Ver classificação</ion-button>
</ion-content>