<ion-header>
    <ion-toolbar>
        <ion-title>Alterar dados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Criar novo aluno</h2>
        <ion-item>
            <ion-label>Nome do aluno:</ion-label>
            <ion-input formControlName="nomeDoAluno" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Nota do aluno:</ion-label>
            <ion-input formControlName="notaDoAluno" type="number" required></ion-input>
        </ion-item>
        <ion-button (click)="onSubmit()" [disabled]="form.invalid" routerLink="/ranking">Novo</ion-button>
    </form>

    <h2>Alterar nota de alunos</h2>
    <form [formGroup]="formAlterado">
        <ion-item>
            <ion-label>Aluno</ion-label>
            <ion-select formControlName="nomeDoAlunoAlterado" placeholder="Select One" required>
                <ion-select-option *ngFor="let aluno of alunos" value="{{aluno.nome}}">{{aluno.nome}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Nota do aluno:</ion-label>
            <ion-input formControlName="notaDoAlunoAlterado" type="number" required></ion-input>
        </ion-item>
        <ion-button (click)="mudarNota()" [disabled]="formAlterado.invalid" routerLink="/ranking">Mudar nota</ion-button>

    </form>
    <ion-button routerLink="/classificacaoprofessor">Ver a classificação</ion-button>
</ion-content>