<ion-header>
    <ion-toolbar>
        <ion-title>Classificação</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2>Lista com as notas</h2>
    <ion-list *ngFor="let aluno of alunos">
        <ion-item lines="none">
            <ion-label>
                {{aluno.nome}} Nota: {{aluno.nota}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button routerLink="/login">Voltar para login</ion-button>
</ion-content>